<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"left"} -->
<h2 class="wp-block-heading has-text-align-left"></h2>
<!-- /wp:heading -->

<!-- wp:post-terms {"term":"fwd-student-category"} /-->

<!-- wp:post-featured-image {"aspectRatio":"auto"} /-->

<!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"base","width":50,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50"><a class="wp-block-button__link has-base-color has-primary-background-color has-text-color has-background has-link-color wp-element-button"><strong>See My Portfoliio</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->