<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->

<!-- wp:query {"queryId":8,"query":{"perPage":3,"pages":0,"offset":0,"postType":"fwd-student","order":"asc","orderBy":"name","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[],"disable_pagination":true,"include_posts":[],"meta_query":[],"exclude_current":0,"tax_query":{"relation":"OR","queries":[{"id":"0ea80d74-b4c3-4e70-bf36-598d00cc0e10","taxonomy":"fwd-student-category","terms":["Developer","Designer"],"include_children":true,"operator":"IN"},{"id":"4dd226fb-2d08-4ddd-9b5b-4e4e7ea5c78b","taxonomy":"","terms":[],"include_children":true,"operator":"IN"},{"id":"b4402db6-e2a8-4935-a02a-bcafaa4d6908","taxonomy":"","terms":[],"include_children":true,"operator":"IN"}]}},"namespace":"advanced-query-loop","layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-terms {"term":"fwd-student-category"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->